<div class="flex items-center space-x-3">
  <input type="checkbox" class="peer h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 accent-primary" id="<%=@id%>" <%='checked' if @checked %>>
  <div><label for="<%=@id%>" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"><%=@label%></label>
    <%if @checked%>
    <p class="text-sm text-muted-foreground"><%=@description%></p>
    <%end%>
  </div>
</div>
